<div class="text-center">
  <%= form_with(model: booking) do |form| %>
    <% if booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
          <% booking.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mt-2">
      <%= form.text_field :name, placeholder: "Nome do morador.", class: 'form-control', required: true %>
    </div>

    <div class="field mt-2">
      <b><%= form.label "Data e Horário" %></b> <br />
      
      <div style="overflow:hidden;">
        <%= form.text_field :interval, class: 'form-control d-none', id:"datetimepicker13", required: true %>
        
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker13').datetimepicker({
                    inline: true,
                    sideBySide: true,
                    locale: 'pt-BR'
                });
            });
        </script>
      </div>

      <small>(Toda reserva será validada como uma reserva de <b>1 hora</b>)</small>
    </div>

    <div class="actions">
      <%= form.submit 'Reservar', class: 'btn btn-primary mt-4' %>
    </div>
  <% end %>
</div>