<div class="calendar_card mt-4 text-center p-2">
  <div class="mb-3 pb-3 border-bottom">
    <h3>Reserva de Horário na Academia</h3>

    <h5>Condomínio Granja Corrientes</h5>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Agendar Reserva
    </button>

    <%= render 'home/modal' %>
  </div>

  <div class="calendar_scroll">
    <%= month_calendar do |date| %>
      <%= date %>

      <% if date == Date.today %>
        <small>(Hoje)</small>
      <% end %>

      <% @bookings.each do |booking| %>
        <% if booking.interval.to_date == date.to_date %>
          <div class="booking_div mt-2 pb-2 border-bottom mb-2">
            <%= booking.name %> <br /> 
            <b><%= booking.interval.strftime("%H:%M") %> - <%= (booking.interval + 1.hour).strftime("%H:%M") %></b>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>