<div class="calendar_card mt-4 text-center p-2">
  <div class="mb-3 pb-3 border-bottom">
    <h3>Reserva de Horário na Academia</h3>

    <h5>Condomínio Granja Corrientes</h5>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Agendar Reserva
    </button>

    <%= render 'home/modal' %>
  </div>

  <div class="calendar_scroll">
    <%= month_calendar do |date| %>
      <%= date %>

      <% if date == Date.today %>
        <small>(Hoje)</small>
      <% end %>

      <% @bookings.each do |booking| %>
        <% if booking.interval.to_date == date.to_date %>
          <div class="booking_div mt-2 pb-2 border-bottom mb-2">
            <%= booking.name %> <br /> 
            <b><%= booking.interval.strftime("%H:%M") %> - <%= (booking.interval + 1.hour).strftime("%H:%M") %></b>

            <% if params[:cancel].present? %>
              <%= link_to booking, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                <i class="fa fa-times"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <hr />

  <div class="p-2">
    <%= link_to 'Quero desmarcar minha reserva', root_path(cancel: true) %> <br />
    <small>(Clique no <i class="fa fa-times"></i> ao lado da reserva para desmarcar a reserva, após clicar no link acima.)</small>
  </div>
</div>